@model MvcBook.Models.Purchase

@{
    ViewData["Title"] = "Редактировать";
    Layout = null;
}


<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body">
            
                <div class="col-md-12">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-5 boldclass m-2">
                                @Html.DisplayNameFor(x => x.Book.Title)
                            </div>
                            <div class="col-5 m-2">
                                @Html.DisplayFor(x => x.Book.Title)
                            </div>
                            <div class="col-5 boldclass m-2">
                                @Html.DisplayNameFor(x => x.Book.Autor)
                            </div>
                            <div class="col-5 m-2">
                                @Html.DisplayFor(x => x.Book.Autor.Name)
                            </div>
                            <div class="col-5 boldclass m-2">
                                @Html.DisplayNameFor(x => x.Price)
                            </div>
                            <div class="form-group col-3 m-2">
                                <input asp-for="Price" class="form-control" readonly />
                            </div>
                            <div class="col-5 boldclass m-2">
                                @Html.DisplayNameFor(x => x.Ammount)
                            </div>
                            <div class="form-group col-3 m-2">
                                <input asp-for="Ammount" class="form-control" required min="1" />
                            </div>
                        </div>
                            <input type="hidden" bookprice value="@Model.Book.Price" />
                            <input type="hidden" asp-for="BookId" />
                            <hr />
                            <div class="form-group">
                                <input type="submit" value="Изменить" class="btn btn-primary sub" />
                                <a style="float: right; margin-right: 25px; margin-top: 7px;" asp-action="Index"><span class=" fa fa-arrow-left"></span></a>
                            </div>
                           
                    </form>         
                </div>
            
        </div>
    </div>
</div>



@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}
