@model MvcBook.Models.PurchaseViewModel

@{
    ViewData["Title"] = "Корзина";
}

<div id="modDialog" class="modal fade"> </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Purchases[0].Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchases[0].Book.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchases[0].Ammount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchases[0].Price)
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Purchases)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Autor.Name)
            </td>
            <td>
                <div class="row">
                    <div class="col-2" style="margin-left:15px;">
                        @Html.DisplayFor(modelItem => item.Ammount)
                    </div>
                    <div class="col-2">
                        <a class="openmodal" asp-action="Edit" asp-route-id="@item.Id"><span class=" fa fa-edit"></span></a>
                    </div>
                    </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="openmodal"><span class=" fa fa-times"></span></a>
            </td>
        </tr>
        }
         
    </tbody>
</table>
<div class="row">   
    <div class="col-10">
        <div class="float-right">
            <h2>Итого:</h2>
            <h3>@Html.DisplayFor(modelItem => Model.Sum)</h3>
        </div>
    </div>
    <form method="post">
        <div class="form-group" style="margin-top:10px;">
            <input asp-action="Buy" type="submit" value="Купить" class="btn btn-primary buy" style="background-color:#1bc24b;" />
        </div>
    </form>
</div>
@section Scripts{ 
    <script>
        $('.cart').hide();
    </script>
}
