@model MvcBook.Models.Autor

@{
    ViewData["Title"] = "Удалить";
    Layout = null;
}

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body">
            @if (!Model.InBook)
            {
                <h3>Хотите ли вы удалить автора?</h3>
            }
            else
            {
                <h3 style="color:red">Невозможно удалить автора т.к. на него ссылается книга.</h3>
            }
            <hr />
            <div>
                <div class="row">
                    <div class="col-sm-6 bg-light boldclass">
                        @Html.DisplayNameFor(model => model.Name)
                    </div>
                    <div class="col-sm-6 bg-light">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                    <div class="col-sm-6 boldclass">
                        @Html.DisplayNameFor(model => model.Age)
                    </div>
                    <div class="col-sm-6">
                        @Html.DisplayFor(model => model.Age)
                    </div>
                    <div class="col-sm-6 bg-light boldclass">
                        @Html.DisplayNameFor(model => model.Email)
                    </div>
                    <div class="col-sm-6 bg-light">
                        @Html.DisplayFor(model => model.Email)
                    </div>

                </div>
                <hr />
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    @if (!Model.InBook)
                    {
                        @:<input type="submit" value="Удалить" class="btn btn-danger" /> 
                    }
                    <a asp-action="Index" style="float: right; margin-right: 25px; margin-top: 7px;"><span class=" fa fa-arrow-left"></span></a>
                </form>
            </div>
        </div>
    </div>
</div>

