@model MvcBook.Models.Autor

@{
    Layout = null;
    ViewData["Title"] = "Сведения";
}


<div class="modal-content">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="col-sm-6">
                @Html.DisplayNameFor(model => model.Age)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.Age)
            </div>
            <div class="col-sm-6">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.Email)
            </div>

            <div class="col-6">

                @Html.DisplayNameFor(model => model.BooksforAuthor)
            </div>
            <div class="col-sm-6">
               
                    @foreach (var item in Model.BooksforAuthor)
                    {
                        <li>
                            @Html.DisplayFor(modelItem => item.Title)
                        </li>
                    }
               
            </div>
            <div class="col-12">
                <a asp-action="Edit" asp-route-id="@Model.Id"><span class=" fa fa-edit"></span></a> |
                @if (!string.IsNullOrEmpty(Model.ReturnUrl))
                {
                    <a href="@Model.ReturnUrl"><span class=" fa fa-arrow-left"></span></a>
                }
                else
                {
                    <a asp-action="Index"><span class=" fa fa-arrow-left"></span></a>
                }
            </div>

        </div>
    </div>
</div>

