@model MvcBook.Models.BookAutorViewModel

@{
    ViewData["Title"] = "Книга";
    var returnUrl = Context.Request.Path.Value;
}




<div id="modDialog" class="modal fade">
    
</div>

<p>
    <a class="openmodal" asp-action="Create"><span class=" fa fa-plus"></span></a>
</p>
<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        Название: <input type="text" asp-for="SearchString" placeholder="Введите название">

        Дата выпуска: c <input type="number" asp-for="bookDateTimeto" required min="1700" max="@DateTime.Now.Year" size="5">
                      по <input type="number" asp-for="bookDateTimefrom" required min="1700" max="@DateTime.Now.Year"  size="5">
       
      

        Автор: <select asp-for="BookAutor" asp-items="Model.Autors">
            <option value="">Все</option>
        </select>


        <button type="submit"> <span class=" fa fa-search"></span></button>

    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Books)
        {
        <tr>
            <td>
                <a class="openmodal" asp-action="Details" asp-route-id="@item.Id"><span class=" fa fa-eye"></span></a> |
                <a class="openmodal" asp-action="Edit" asp-route-id="@item.Id"><span class=" fa fa-edit"></span></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <a asp-controller="Authors" asp-action="Details" asp-route-returnurl="@returnUrl" asp-route-id="@item.Autor?.Id" class="linkclass openmodal">@item.Autor?.Name</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="openmodal"><span class=" fa fa-trash"></span></a>
            </td>
            <td>
                <a asp-controller="Purchases" asp-action="Create" asp-route-id="@item.Id" class="openmodal"><span class=" fa fa-cart-plus"></span></a>
            </td>
        </tr>
        }
    </tbody>
</table>
